Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  -concurrency-mt-unsafe,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-optin.performance.Padding,
  -performance-enum-size
WarningsAsErrors: '*'
