Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  -concurrency-mt-unsafe,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-optin.performance.Padding,
  -performance-enum-size,
  -bugprone-unchecked-optional-access
WarningsAsErrors: '*'
CheckOptions:
    - key: bugprone-empty-catch.IgnoreCatchWithKeywords
      value: "@todo;@fixme;ignore exception"
