[submodule "external/drogon"]
	path = external/drogon
	url = https://github.com/drogonframework/drogon
[submodule "external/msgpack-c"]
	path = external/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
