build*/
/out/
/.vs/
/CMakeSettings.json
/webui/
/dist/
/src/include/webcface/common/def.h
version.rc
/Testing/
/.cache/
/result
/subprojects/*
!/subprojects/packagefiles/
!/subprojects/*.wrap
# from glib:
/subprojects/gvdb.wrap
/subprojects/libffi.wrap
/subprojects/proxy-libintl.wrap
/subprojects/sysprof.wrap
